@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body{
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(45deg, rgba(34, 193, 195, 0.306) 0%, rgba(247, 246, 249, 0.7) 98%) no-repeat;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Patua One', cursive;
    color: black;
    background-color: aliceblue;
}

h3{
    font-family: 'Noto Serif', serif;
}

#description, #title{
    border-radius: 6px;
    /* margin-right: 100px; */
}

#add-notes{
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    font-weight: bolder;
    padding: 10px;
    width: 80px;
}

#create-notes{
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: rgb(58, 112, 221);
    margin: 1rem;
    box-shadow: black 0px 5px 5px 2px;
}

#display-notes{
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid #3d3d3d;
    border-radius: 10px;
    background-color: white;
    font-family: 'Noto Serif', serif;
    box-shadow: black 0px 2px 2px 2px;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}